<!-- @for (course of courses; track course.id; let first = $first; let last = $last;
let even = $even; let odd = $odd) { @if (first) {
<h1>Courses found: {{ $count }}</h1>
}

<app-course-card
  [index]="$index"
  (onClickViewCourse)="test($event)"
  [course]="course"
  [class.is-first]="first"
  [class.is-last]="last"
  [class.is-even]="even"
  [class.is-odd]="odd"
> 
  <img #courseImg [src]="course.iconUrl" width="300" alt="" />
  
  <div class="course-description">
    {{ course.longDescription }}
  </div>

  <p>Conteúdo restante</p>
</app-course-card>
} @empty {
<h1>No courses found!</h1>
} -->

<ng-template #blankImage let-courseName="description">
  <p class="warn">{{ courseName }} has no image yet</p>
</ng-template>

<app-course-card
  *ngIf="courses[0] as course"
  [index]="0"
  (onClickViewCourse)="test($event)"
  [course]="course"
  [noImageTemplate]="blankImage"
>
  <img #courseImg [src]="course.iconUrl" width="300" alt="" />

  <div class="course-description">
    {{ course.longDescription }}
  </div>

  <p>Conteúdo restante</p>
</app-course-card>
